<style>
  .hidden-custom-bundle, select.options-select[data-name='Color'] {
    //display:block !important;
  }
  .mobile-atc .add-to-cart{
  font-size: 12px;
  }

    .mobile-atc {
  	transition: bottom 0.3s!important;
  }
  .mobile-atc {
  display: none;
  }
  @media screen and (max-width: 480px) {
  .mobile-atc {
      position: fixed;
      bottom: 0;
      z-index: 2;
      left: 0;
      max-width: 100%;
      width: 100%;
      box-sizing:border-box;
      padding: 15px 20px;
      background: #fff;
      border: 1px solid #dedede;
      box-shadow: 0 0 5px rgba(0,0,0,0.15);
      display:block;
  }
  .custom-button {
    width: 80%;
  }

}

</style>

{% unless template contains 'custom_builder' %}

<div class="inventoryWrapper" style="display:none;">
  {% if current_variant.inventory_management == 'shopify' %}
    <p>Stock: <span id="quantitytoh">{{ current_variant.inventory_quantity }}</span></p>
  {% endif %}
</div>

{%- capture cl -%}
{%- for c in product.collections -%}{{ c.title | downcase }}{%- endfor -%}
{%- endcapture -%}
{% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
{% form 'product', product, id: form_id, class: 'product-single__form small--text-center' %}

<input type="hidden" name="data-product-id" value="{{ product.id }}">

<!-- combined two product id Metafield Data -->
{% assign sf_product_combined = all_products[product.metafields.sf_product_combined.product_handle] %}
<script>
let currentVariant = "{{ product.selected_or_first_available_variant.title }}";

function getSecondPart(str) {
    return str.split(' / ')[1];
}

function getfirstPart(str) {
  return str.substring(0, str.indexOf(' '));
}

current = getSecondPart(currentVariant);
let newcounter = 0;
let x 
let fvar
let svar
let availability
jsons = "";
counter = 0;
{% for variant in product.variants %}
  svar = getSecondPart("{{variant.title}}")
  if(current == svar){
    counter++;
  }
{% endfor %}
<!-- 08 -->
{% for variant in product.variants %}

   x = "{{ variant.title }}";
   fvar = getfirstPart(x)
   svar = getSecondPart(x)
   if(current == svar){
      if(newcounter == 0){
          jsons =  jsons + '[';
      }
      availability = {{variant.available}}
      jsons = jsons + '{"firstVariant":"' + fvar + '","secondVariant":"' + svar + '","available":"' + availability + '"}';
      newcounter++;
      if(newcounter < counter){
          jsons =  jsons + ',';
      }else{
          jsons =  jsons + ']';
      }
   }

{% endfor %}
  
   jsons = JSON.parse(jsons);

 
</script>
<!-- 09 -->
{% unless product.has_only_default_variant %}
{% for option in product.options_with_values %}
  <!-- 09 -->
  {% if variant_type == 'button' %} 
  <!-- 10 -->
  {% include 'variant-button', section_id: section_id, option_drop: option %}
  {% else %}
  <!-- 11 -->
  {% include 'variant-dropdown', section_id: section_id %}
  {% endif %}
<!-- 12 -->
{% endfor %}
{% endunless %}
<!-- 14 -->
{% comment %}Start Please dont delete it{% endcomment %} 
{% assign totalVariants = product.variants.size %}
{% assign SectotalVariants = sf_product_combined.variants.size %}
<!-- 01 -->
<div data-totaljson="{{ totalVariants | plus: SectotalVariants }}" style="display:none;" class="all-options secondproducthandle_for_JS" data-secondproducthandle="{{ sf_product_combined.handle }}">
  {% unless sf_product_combined.empty? %}{%- assign product_combined_index = forloop.index -%}
  {% for product_combined in sf_product_combined.options_with_values %}
  <!-- 02 -->
  {% if product_combined.position  == 1 %}
  <!-- 03 -->
 <p class="sec_prod_first_option" data-index="1">{% for combined_value in product_combined.values %}{{ combined_value }}{% if forloop.last == true %}{% else %},{% endif %}{% endfor %}</p>
  {% endif %}
    {% if product_combined.position  == 2 %}
    <!-- 04 -->
 <p class="sec_prod_sec_option" data-index="2"> {% for combined_value in product_combined.values %}{{ combined_value }}{% if forloop.last == true %}{% else %},{% endif %}{% endfor %}</p>
  {% endif %}
    {% if product_combined.position  == 3 %}
    <!-- 05 -->
 <p class="sec_prod_third_option" data-index="3"> {% for combined_value in product_combined.values %}{{ combined_value }}{% if forloop.last == true %}{% else %},{% endif %}{% endfor %}</p>
  {% endif %}
  {% endfor %}
  {% endunless %}
</div>
{% comment %} End Please dont delete it{% endcomment %} 
<!-- 06 -->
<select name="id" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js" data-product-select>
  {% for variant in product.variants %}
  {% if variant.available %}
  <option data-id="{{variant.id}}" data-inqua="{{ variant.inventory_quantity}}" varname="{{variant.title}}" data-avail="{% if variant.available %}available{%else %}unavailable{% endif %}" {% if variant == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
    {{ variant.title }} 
  </option>
  {% else %}
  <option data-id="{{variant.id}}" data-inqua="{{ variant.inventory_quantity}}" varname="{{variant.title}}" data-avail="{% if variant.available %}available{%else %}unavailable{% endif %}" disabled="disabled">
    {{ variant.title }}
  </option>
  {% endif %}
  {% endfor %}

  {% unless sf_product_combined.empty? %}
  {% for product_combined in sf_product_combined.variants %}
  {% if product_combined.available %}
  <option data-inqua="{{ product_combined.inventory_quantity}}" varname="{{product_combined.title}}" data-avail="{% if product_combined.available %}available{%else %}unavailable{% endif %}" {% if product_combined == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ product_combined.id }}">
    {{ product_combined.title }} 
  </option>
  {% else %}
  <option data-inqua="{{ product_combined.inventory_quantity}}" varname="{{product_combined.title}}" data-avail="{% if product_combined.available %}available{%else %}unavailable{% endif %}" disabled="disabled">
    {{ product_combined.title }}
  </option>
  {% endif %}
  {% endfor %}
  {% endunless %}

</select>
  
  <select class="custom-product-single__variants no-js hidden" data-product-select>
  {% for variant in product.variants %}
  <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
  </option>
  {% endfor %}
{% unless sf_product_combined.empty? %}
  {% for product_combined in sf_product_combined.variants %}
  {% if product_combined.available %}
  <option data-inqua="{{ product_combined.inventory_quantity}}" varname="{{product_combined.title}}" data-avail="{% if product_combined.available %}available{%else %}unavailable{% endif %}" {% if product_combined == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ product_combined.id }}">
  </option>
  {% else %}
  <option data-inqua="{{ product_combined.inventory_quantity}}" varname="{{product_combined.title}}" data-avail="{% if product_combined.available %}available{%else %}unavailable{% endif %}" disabled="disabled">
  </option>
  {% endif %}
  {% endfor %}
  {% endunless %}
</select>
{% if quantity_enable %}
<div class="product__quantity product__quantity--{{ variant_type }}">
  <label for="Quantity-{{ section_id }}" class="variant__label">{{ 'products.product.quantity' | t }}</label>
  <div class="input-group">
  <input type="button" value="-" class="button-minus" data-field="quantity">
  <input type="number" step="1" min="1" max="" value="1" name="quantity" class="quantity-field">
  <input type="button" value="+" class="button-plus" data-field="quantity">
</div>
</div>
{% endif %}









<div class="mobile-atc">
{%- assign enable_dynamic_buttons = false -%}
{% if enable_payment_button and template != 'product.preorder' %}
{%- assign enable_dynamic_buttons = true -%}
{% endif %}
<ul class="sticky-size-list">
{% for option in product.options_with_values %}
{% for value in option.values %}
    {%- assign product_available = true -%}
    {%- assign product_available = product.variants[forloop.index0].available -%}
    {% if option.name == 'size' or option.name == 'Size' %}
    <li>{{ value }}</li>
    {% endif %}
{% endfor %}
{% endfor %}
</ul>
{% for collection in product.collections %}
    {% if collection.title == "Scrub Caps" %}
    <input type="hidden" value="{{ collection.title }}" class="collection-title">
    {% endif %}
{% endfor %}
<ul class="sticky-color-list">
{% for option in product.options_with_values %}
{% for value in option.values %}
    {%- assign product_available = true -%}
    {%- assign product_available = product.variants[forloop.index0].available -%}
    {% if option.name == 'color' or option.name == 'Color' %}
    <li>{{ value }}</li>
    {% endif %}
{% endfor %}
{% endfor %}
</ul>
<p>
<div class="flexerx">
<span class="sticky-size"><span class="sizer"></span>   </span> <span class="sticky-color"><span class="swatch-circle"></span></span><span class="sticky-type"></span><span class="sticky-price"><span class="pricer"></span></span></p>
</div>

  
{% if enable_dynamic_buttons %}
<div class="payment-buttons">
  {% endif %}

  {% unless enable_dynamic_buttons %}
  <div class="payment-buttons">
     {% endunless%}
  <button
          {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
          name="add"
          data-add-to-cart
          class="{% unless enable_dynamic_buttons %} btn btn--tertiary {% endunless%} {% if enable_dynamic_buttons %}btn btn--tertiary{% else %}btn{% endif %} btn--full add-to-cart"
          {% unless current_variant.available %} disabled="disabled"{% endunless %}>
    <span data-add-to-cart-text>
      {% if current_variant.available %}
      {% if template == 'product.preorder' %}
        {% comment %}
      {{ 'products.product.preorder' | t }}
      {% endcomment %}
        {% render 'alt-atc', cl:cl %}
      {% else %}
        {% render 'alt-atc', cl:cl %}
      {% endif %}
      {% else %}
      Pre-order
      {% endif %}
    </span>
  </button>
  {% unless enable_dynamic_buttons %}
</div>

     {% endunless%}
  
  {% if enable_dynamic_buttons %}
  {{ form | payment_button }}
  {% endif %}

  {% if enable_dynamic_buttons %}
</div>
{% endif %}
</div>







{%- assign enable_dynamic_buttons = false -%}
{% if enable_payment_button and template != 'product.preorder' %}
{%- assign enable_dynamic_buttons = true -%}
{% endif %}
<div class="main_contnt2">
<div class="main-cont">
<div class="main-cont2">
{% if enable_dynamic_buttons %}
<div class="payment-buttons">
  {% endif %}

  {% unless enable_dynamic_buttons %}
  <div class="payment-buttons">
     {% endunless%}
  <button
          {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
          name="add"
          data-add-to-cart
          class="{% unless enable_dynamic_buttons %} btn btn--tertiary {% endunless%} {% if enable_dynamic_buttons %}btn btn--tertiary{% else %}btn{% endif %} btn--full add-to-cart"
          {% unless current_variant.available %} disabled="disabled"{% endunless %}>
    <span data-add-to-cart-text>
      {% if current_variant.available %}
        {% if template == 'product.preorder' %}
            {% comment %}
          {{ 'products.product.preorder' | t }}
          {% endcomment %}
          {% render 'alt-atc', cl:cl %}
        {% else %}
          {% render 'alt-atc', cl:cl %}
        {% endif %}
      {% else %}
      SOLD OUT
      {% endif %}
    </span>
  </button>
  {% unless enable_dynamic_buttons %}
</div>
     {% endunless%}
  
  {% if enable_dynamic_buttons %}
  {{ form | payment_button }}
  {% endif %}

  {% if enable_dynamic_buttons %}
</div>
{% endif %}


{% unless product.empty? %}
<textarea class="hide" aria-hidden="true" data-variant-json>
  {{ product.variants | json }}
</textarea>
{% if product.options.size > 1 %}
<textarea class="hide" aria-hidden="true" data-current-variant-json>
  {{ current_variant | json }}
</textarea>
{% endif %}
{% endunless %}

{% endform %}

{% endunless %}
  </div>

</div>
</div>
<div class="main-icon-cont" style="padding:5px 0px 5px;">
  <div class="preorder-text" style="padding:12px 20px;display:none;margin-bottom:12px;"><p style="margin-bottom:10px;color:red;">*Due to the recent popularity of our softer-than-pyjamas scrubs, the item you have selected is temporarily out-of-stock. Please see below for our 
    easy “PRE-ORDER” instructions:</p>
    <ul style="margin-bottom:10px;color:red;">
    <li> The UTS Campus Store/ActivateUTS and Dr. Woof have created a 
    special pre-order arrangement for all UTS first-year nursing school 
    students.</li> 
    <li> Please click on the black “PRE-ORDER” button (above), then 
    proceed with placing your order.</li> 
    <li> All Dr. Woof pre-ordered styles will be delivered directly to the UTS 
    Campus Store by end March/early April.</li>  
    <li> The UTS Store will notify you directly when your order arrives.</li> 
    <li> After you have placed your pre-order, please feel free to continue 
    shopping.</li> 
    <li> Your special UTS/Dr. Woof discount code (15UTS) is applicable on 
    all Dr. Woof merchandise in our website store. Any additional items 
    ordered from the Dr. Woof store will be shipped out immediately – 
    directly to your mailing address.</li> 
    <li> ANY PRE-ORDER SIZING OR STYLE EXCHANGES CAN BE MADE 
    DIRECTLY THROUGH DR. WOOF. Simply contact us at:  
    hello@drwoofapparel.com.au </li> 
    </ul>
    <p style="margin-top:10px;color:red;">WISHING YOU AN AMAZING FIRST YEAR!</p> 
    <p style="margin-top:10px;color:red;">~ Dr. Ron, Dr. An, and Dr. Dave (Founders of Dr. Woof)</p></div>
  <div class="sub-icon-cont">
    {%if section.settings.img1 != blank %}
    <div class="sub-icon-cont1">
<img src="{{section.settings.img1|img_url : '90x75'}}" style="max-width:80px;">
  </div>
    {%endif%}
    {% if section.settings.txt != blank%}
<div class="sub-icon-cont2">
  <p style="font-size:0.77em;">{{section.settings.txt}}</p>
  </div>
    {%endif%}
  </div>

  
  <div class="sub-icon-cont">
    {%if section.settings.img2 != blank%}
    <div class="sub-icon-cont1">
<img src="{{section.settings.img2|img_url : '90x75'}}" style="max-width:80px;">
  </div>
    {%endif%}
    {% if section.settings.txt1 != blank%}
   <div class="sub-icon-cont2">
     <p style="font-size:0.77em;">{{section.settings.txt1}}</p>
  </div>
 {%endif%}
  </div>
   
   
  <div class="sub-icon-cont">
   {%if section.settings.img3 != blank %}
    <div class="sub-icon-cont1">
<img src="{{section.settings.img3|img_url : '90x75'}}" style="max-width:80px;">
  </div>
   {%endif%}
 {% if section.settings.txt2 != blank %}
<div class="sub-icon-cont2">
  <p style="font-size:0.77em;">{{section.settings.txt2}}</p>
  </div>
 {%endif%}
  </div>
  
</div>
{% if section.settings.txt_ != blank %}
<div class="main-text" style="padding:20px 0px 5px;">
  <p>{{section.settings.txt_}}</p>
  </div>
 {%endif%}
<div class="custom-klarna-new">
  <div class="klarna-new-div"></div>
</div>
{% if template contains 'custom_builder' %}

{% if product.tags contains "Men" %}
{% assign genre = "Men" %}
{% elsif product.tags contains "Women" %}
{% assign genre = "Women" %}
{% endif %}


{% for tag in product.tags%}
{% assign da_tag = tag %}
{% endfor %}

{% assign input = "a," %}


<div class="master_box_top" data-id="cap">
  <button class="master_box_top_label">
    {{ settings.option_one }}
  </button>  
  <div class="builder_card" data-type="cap">  
    <div class="builder_top_slide">
      <div class="column_box_top">
        <div class="builder_top_slide_img">
          <img class="builder_card_image" src="">
        </div>
      </div>    
      <div class="column_box_top">
        <div class="builder_top_slide_title">    
          <p class="builder_card_title"><b id="title_builder_box"></b></p>
        </div>  
        <div class="loox-rating" style="display:none" title="">
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>&nbsp;
          <span></span></div>
      </div>
    </div>   
    <div class="custom_builder_option">  
      <label class="custom_builder_label" style="
                                                 order: 3;
                                                 ">
        Size
      </label>
      <select class="master_sizes options-select" data-name="Size">
        <option data-status="true" selected="" style="color:gray">Select an option</option>    

      </select>  
      <label class="custom_builder_label" style="
                                                 order: 1;
                                                 ">
        Design
      </label>   
      <select class="master_designs options-select" data-name="Design">
        <option data-status="true" selected="" style="color:gray">Select an option</option>               
      </select>
    </div>   
  </div>  
</div>

<div class="master_box_top" data-id="top">
  <button class="master_box_top_label">
    {{ settings.option_two }}
  </button>
</div>
<div class="master_box_top" data-id="under">
  <button class="master_box_top_label">
    {{ settings.option_three }}
  </button>  
  <div class="builder_card" data-type="under">  
    <div class="builder_top_slide">
      <div class="column_box_top">
        <div class="builder_top_slide_img">
          <img class="builder_card_image" src="">
        </div>
      </div>    
      <div class="column_box_top">
        <div class="builder_top_slide_title">    
          <p class="builder_card_title"><b id="title_builder_box"></b></p>
        </div>     
        <div class="loox-rating" style="display:none" title="">
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>
          <i class="loox-icon loox-star"></i>&nbsp;
          <span></span></div>
      </div>
    </div>   
    <div class="custom_builder_option">  
      <label style="order:3" class="custom_builder_label" style="order:3">
        Size
      </label>  



      <select class="master_sizes options-select" data-name="Size">
        <option data-status="true" selected="" style="color:gray">Select an option</option>    

      </select>  
      <label class="custom_builder_label" style="order:1">
        Design
      </label>   
      <select class="master_designs options-select" data-name="Design">
        <option data-status="true" selected="" style="color:gray">Select an option</option>               
      </select>
    </div>   
  </div>  
</div>
<div class="master_box_top" data-id="pant">
  <button class="master_box_top_label">
    {{ settings.option_four }}
  </button>
</div>
<div class="master_box_top" data-id="bundled">
  <button class="master_box_top_label">
    {{ settings.option_five }}
  </button>
</div>
{%- for collection in collections -%}

{% for product0 in collection.products %}

{% unless product.id == product0.id %}

{% if collection.title == "Bundled" or product0.type contains "Scrub Cap" or product0.title contains "Underscrub" or product0.title contains "Jogger" or product0.title contains "Scrub Top" %}

{% if product0.type contains "Scrub Cap" or product0.title contains "Underscrub" %}
{% unless input contains product0.id %}
{% assign input = input | append: product0.id %}
{% assign input = input | append: "," %}
{% assign avoid_it = "0" %}
{% if product0.type contains "Underscrub" %}
{% if product0.tags contains genre %}

{% else %}
{% assign avoid_it = "1" %}
{% endif %}

{% endif %}
{% unless avoid_it == "1" %}
<input type="hidden" class="scrub_caps_hidden" data-title="{{ product0.title }}" data-img="{{ product0.featured_image | img_url: "medium" }}" data-source="{{ product0.id }}" data-type="{{ product0.type }}" data-reviews="{{ product0.metafields.loox.avg_rating }}" data-numi="{{ product0.metafields.loox.num_reviews }}">
<select class="pre-hidden-custom-bundle" name="id" style="display:none" data-source="{{ product0.id }}" data-type="{{ product0.type }}">
  <option>0</option>
  {% for variant0 in product0.variants %}

  {% for option in variant0.options_with_values %}
  - {{ option.name }}
  {% endfor %}


  <option class="{% if variant0.available %}{% else %}disabled_box{% endif %}" data-option1="{{ variant0.option1 }}" data-option2="{{ variant0.option2 }}" data-id="{{ variant0.id }}" value="{{ variant0.id }}">{{ variant0.title }}</option>
  {% endfor %}
</select>
{% endunless %}
{% endunless %}

{% endif %}

{% if product0.tags contains da_tag %}

{% if collection.title == "Bundled" %}
{% assign card_handle = "bundled" %}
{% elsif product0.type contains "Scrub Cap" %}
{% assign card_handle = "cap" %}
{% elsif product0.title contains "Underscrub" %}
{% assign card_handle = "under" %}
{% elsif product0.title contains "Jogger" %} 
{% assign card_handle = "pant" %}
{% elsif product0.title contains "Scrub Top" %}
{% assign card_handle = "top" %}
{% endif %}

{% assign dumpy = input | split: "," %}

{% unless input contains product0.id %}
{% assign input = input | append: product0.id %}
{% assign input = input | append: "," %}

{% comment %}

{% if product0.type contains "Scrub Cap" or product0.title contains "Underscrub" %}

<input type="hidden" class="scrub_caps_hidden" data-title="{{ product0.title }}" data-img="{{ product0.featured_image | img_url: "medium" }}" data-source="{{ product0.id }}" data-type="{{ product0.type }}" data-reviews="{{ product0.metafields.loox.avg_rating }}" data-numi="{{ product0.metafields.loox.num_reviews }}">
<select class="pre-hidden-custom-bundle" name="id" style="display:none" data-source="{{ product0.id }}" data-type="{{ product0.type }}">
  <option>0</option>
  {% for variant0 in product0.variants %}

  {% for option in variant0.options_with_values %}
  - {{ option.name }}
  {% endfor %}


  <option class="{% if variant0.available %}{% else %}disabled_box{% endif %}" data-option1="{{ variant0.option1 }}" data-option2="{{ variant0.option2 }}" data-id="{{ variant0.id }}" value="{{ variant0.id }}">{{ variant0.title }}</option>
  {% endfor %}
</select>


{% endif %}

{% endcomment %}

{% unless product0.type contains "Scrub Cap" or product0.title contains "Underscrub" %}

<div class="builder_card" data-type="{{ card_handle }}">

  <!-- Hidden select for flow control  -->
  <select class="hidden-custom-bundle" name="id" style="display:none">
    <option>0</option>
    {% for variant0 in product0.variants %}

    {% for option in variant0.options_with_values %}
    - {{ option.name }}
    {% endfor %}


    <option class="{% if variant0.available %}{% else %}disabled_box{% endif %}" data-option1="{{ variant0.option1 }}" data-option2="{{ variant0.option2 }}" data-id="{{ variant0.id }}" value="{{ variant0.id }}">{{ variant0.title }}</option>
    {% endfor %}
  </select>
  <!-- Hidden select for flow control  -->

  <div class="builder_top_slide">
    <div class="column_box_top">
      <div class="builder_top_slide_img">

        <img class="builder_card_image" src="{{ product0.featured_image | img_url: "medium" }}">
      </div>
    </div>

    <div class="column_box_top">
      <div class="builder_top_slide_title">


        <p class="builder_card_title"><b id="title_builder_box">{{ product0.title }}</b></p>
      </div>

      <div class="loox-rating" title="{{ product0.metafields.loox.avg_rating }} rating ({{ product0.metafields.loox.num_reviews }} votes)">
        <i class="loox-icon loox-star"></i>
        <i class="loox-icon loox-star"></i>
        <i class="loox-icon loox-star"></i>
        <i class="loox-icon loox-star"></i>
        <i class="loox-icon loox-star"></i>&nbsp;<span>{{ product0.metafields.loox.num_reviews }}</span></div>
    </div>
  </div>


  <div class="custom_builder_option" data-id="{{ product0.id }}">
    {% for product_option in product0.options_with_values %}



    <label class="custom_builder_label" {% if product_option.name == "Size" %}style="order:3"{% endif %}>
      {{ product_option.name }}
    </label> 

    {% assign option = product_option %}

    {% comment %}
    {% include 'variant-button', section_id: '5110115827771', option_drop: option %}
    {% endcomment %}





    {% if product_option.name == "Color" %}  
    <div class="color_swatch_box_wrapper">
      {% for value in product_option.values %}
      <button class="color_swatch_box_btn">
        <div class="color_swatch_box" data-color="{{ value | escape }}">

        </div>
      </button>
      {% endfor %}
    </div>

    <select class="options-select" data-name="{{ product_option.name }}">
      <option data-status="true" selected style="color:gray">Select an option</option>
      {% for value in product_option.values %}

      {% for variant in product0.variants %}
      {% if variant.title contains value %}

      {% assign individual_imgs= variant.image | img_url:"medium" %}

      {% endif %}
      {% endfor %}

      <option data-name="{{ product_option.name }}" data-value="{{ value }}" data-img="{{ individual_imgs }}">
        {{ value }} 
      </option>
      {% endfor %}
    </select>


    {% else %}

    <select class="options-select" data-name="{{ product_option.name }}" style="order:4">
      <option data-status="true" selected style="color:gray">Select an option</option>
      {% for value in product_option.values %}
      <option data-name="{{ product_option.name }}" data-value="{{ value }}">
        {{ value }} 
      </option>
      {% endfor %}
    </select>

    {% endif %}

    {% endfor %}
  </div>


  {% comment %}
  <div style="    justify-content: center;display: flex;margin-top: 6em;">
    <button type="button" class="btn btn--tertiary overflow-scroller__arrow overflow-scroller__arrow--right btn-box btn-box-r" style="position: relative;">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path></svg>
    </button>


    <button type="button" class="btn btn--tertiary overflow-scroller__arrow overflow-scroller__arrow--left btn-box btn-box-l" style="position: relative;">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>
    </button>
  </div>
  {% endcomment %}

</div>
{% endunless %}
{% endunless %}
{% endif %}
{% endif %}
{% endunless %}
{% endfor %}

{% endfor %}
{% comment %}
{% assign underscrubs = "" %}

{% assign caps = "" %}

{% assign di_control = "0" %}
{% assign de_control = "0" %}


{% for product1 in collections.all.products %}


{% if product1.type == "Underscrubs" %}
{% if di_control == "1" %}
{% assign handle = product1.title | prepend: "," %}

{% else %}
{% assign handle = product1.title %}
{% assign di_control = "1" %}
{% endif %}

{% assign underscrubs = underscrubs | append: handle %}



{% elsif product1.type contains "Scrub Cap" %}

{% if de_control == "1" %}
{% assign handle = product1.title | prepend: "," %}

{% else %}
{% assign handle = product1.title %}
{% assign de_control = "1" %}
{% endif %}


{% assign caps = caps | append: handle %}
{% endif %}



{% endfor %}

{% assign underscrubs = underscrubs | split: "," %}
{% assign caps = caps | split: "," %}

<div class="master-design">
  <label>Underscrubs</label>
  <select>
    {% for scrub in underscrubs %}
    <option data-id="{{ scrub }}">{{ scrub }}</option>
    {% endfor %}
  </select>
</div>
<div class="master-design">
  <label>Scrub Caps</label>
  <select>
    {% for cap in caps %}
    <option data-id="{{ cap }}">{{ cap }}</option>
    {% endfor %}
  </select>
</div>


<div class="alert_builder_box">
  <p class="general_builder_box_text_wrapper"><span class="1st_alert_box"></span> of <span class="2nd_alert_box"></span> steps</p>
</div>
{% endcomment %}
<button type="submit" name="add" id="add_to_cart_box" data-add-to-cart="" class="btn btn--tertiary btn--full add-to-cart">
  <span data-add-to-cart-text="">

    ADD TO BAG

  </span>
</button>


{% endif %}

<style>
  .main-cont
  {
    background-color:{{section.settings.color_link}};
    padding: 25px 10px 1px;
  }
  
</style>