{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69 = section.settings['replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69'] | image_url -%}
    {%- capture default_replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Downloader-La-249338.jpg?v=1733107639{%- endcapture -%}
    {%- assign replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69 = replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69 | default: default_replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69 -%}
    "replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69": {{ replo_style_image_7b233184-d8b5-4d66-af64-a044a06ada69 | json }}, {%- assign replo_text_f74460f9-397b-4329-9d52-b0726f539b54 = section.settings['replo_text_f74460f9-397b-4329-9d52-b0726f539b54'] -%}
    {%- capture default_replo_text_f74460f9-397b-4329-9d52-b0726f539b54 -%}<h2>Why you (and your feet) will love Dr. Woof Compression Socks</h2>{%- endcapture -%}
    {%- assign replo_text_f74460f9-397b-4329-9d52-b0726f539b54 = replo_text_f74460f9-397b-4329-9d52-b0726f539b54 | default: default_replo_text_f74460f9-397b-4329-9d52-b0726f539b54 -%}
    "replo_text_f74460f9-397b-4329-9d52-b0726f539b54": {{ replo_text_f74460f9-397b-4329-9d52-b0726f539b54 | json }}, {%- assign replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22 = section.settings['replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22'] | image_url -%}
    {%- capture default_replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/socks_story.png?v=1732774981{%- endcapture -%}
    {%- assign replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22 = replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22 | default: default_replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22 -%}
    "replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22": {{ replo_style_image_2eb4dff0-1d4e-4342-9e40-0622dde4ca22 | json }}, {%- assign replo_text_3294491a-23e3-432f-a562-0f515498033b = section.settings['replo_text_3294491a-23e3-432f-a562-0f515498033b'] -%}
    {%- capture default_replo_text_3294491a-23e3-432f-a562-0f515498033b -%}<p>Better with Bamboo</p>{%- endcapture -%}
    {%- assign replo_text_3294491a-23e3-432f-a562-0f515498033b = replo_text_3294491a-23e3-432f-a562-0f515498033b | default: default_replo_text_3294491a-23e3-432f-a562-0f515498033b -%}
    "replo_text_3294491a-23e3-432f-a562-0f515498033b": {{ replo_text_3294491a-23e3-432f-a562-0f515498033b | json }}, {%- assign replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6 = section.settings['replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6'] -%}
    {%- capture default_replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6 -%}<p>Bamboo is a sustainable, eco-friendly fiber that’s soft, durable, and better for your feet—and the planet! 🌱</p>{%- endcapture -%}
    {%- assign replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6 = replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6 | default: default_replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6 -%}
    "replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6": {{ replo_text_318cf77c-d0d9-4dec-b60b-ad83ee559ec6 | json }}, {%- assign replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b = section.settings['replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b'] -%}
    {%- capture default_replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b -%}<p>Stay Cool, Naturally</p>{%- endcapture -%}
    {%- assign replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b = replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b | default: default_replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b -%}
    "replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b": {{ replo_text_765939c9-a0ec-403a-9bd1-ce205bdbd27b | json }}, {%- assign replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5 = section.settings['replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5'] -%}
    {%- capture default_replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5 -%}<p>Natural breathability and sweat-wicking powers keep your feet fresh, dry, and cool, no matter the heat.</p>{%- endcapture -%}
    {%- assign replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5 = replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5 | default: default_replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5 -%}
    "replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5": {{ replo_text_18ef09f0-0cc9-4ce2-8f0a-fc59a86b42e5 | json }}, {%- assign replo_text_246103d1-347d-46e1-9aa8-35ee6663188d = section.settings['replo_text_246103d1-347d-46e1-9aa8-35ee6663188d'] -%}
    {%- capture default_replo_text_246103d1-347d-46e1-9aa8-35ee6663188d -%}<p>Feet-Friendly Fiber</p>{%- endcapture -%}
    {%- assign replo_text_246103d1-347d-46e1-9aa8-35ee6663188d = replo_text_246103d1-347d-46e1-9aa8-35ee6663188d | default: default_replo_text_246103d1-347d-46e1-9aa8-35ee6663188d -%}
    "replo_text_246103d1-347d-46e1-9aa8-35ee6663188d": {{ replo_text_246103d1-347d-46e1-9aa8-35ee6663188d | json }}, {%- assign replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78 = section.settings['replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78'] -%}
    {%- capture default_replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78 -%}<p>Bamboo’s hypoallergenic fibers are gentle on sensitive skin, providing irritation-free comfort with every step.</p>{%- endcapture -%}
    {%- assign replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78 = replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78 | default: default_replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78 -%}
    "replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78": {{ replo_text_29cb37d4-a47d-4527-b407-91ed4425ec78 | json }}, {%- assign replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee = section.settings['replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee'] -%}
    {%- capture default_replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee -%}<p>Softness You Can Feel</p>{%- endcapture -%}
    {%- assign replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee = replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee | default: default_replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee -%}
    "replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee": {{ replo_text_69099cd8-db16-45df-9ebf-fbf94acba7ee | json }}, {%- assign replo_text_31665a7b-37f2-4edc-a399-4cc423601711 = section.settings['replo_text_31665a7b-37f2-4edc-a399-4cc423601711'] -%}
    {%- capture default_replo_text_31665a7b-37f2-4edc-a399-4cc423601711 -%}<p>The ultra-soft fibers wrap your feet in cloud-like comfort from morning to night.</p>{%- endcapture -%}
    {%- assign replo_text_31665a7b-37f2-4edc-a399-4cc423601711 = replo_text_31665a7b-37f2-4edc-a399-4cc423601711 | default: default_replo_text_31665a7b-37f2-4edc-a399-4cc423601711 -%}
    "replo_text_31665a7b-37f2-4edc-a399-4cc423601711": {{ replo_text_31665a7b-37f2-4edc-a399-4cc423601711 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}