{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a = section.settings['replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a'] -%}
    {%- capture default_replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a -%}<p>BUY 6 PAIRS, GET 30% OFF + FREE SHIPPING</p>{%- endcapture -%}
    {%- assign replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a = replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a | default: default_replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a -%}
    "replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a": {{ replo_text_6189af31-a8f4-4d54-9128-e79f46e28d7a | json }}, {%- assign replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be = section.settings['replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be'] -%}
    {%- capture default_replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be -%}<p>GET YOURS NOW</p>{%- endcapture -%}
    {%- assign replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be = replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be | default: default_replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be -%}
    "replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be": {{ replo_text_b2faea39-76ee-44e9-b4c4-7d0de2a8d6be | json }}, {%- assign replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18 = section.settings['replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18'] -%}
    {%- capture default_replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18 -%}https://www.drwoofapparel.com.au/collections/women{%- endcapture -%}
    {%- assign replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18 = replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18 | default: default_replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18 -%}
    "replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18": {{ replo_url_79d59ca9-dbe1-4d21-afc4-444d635edd18 | json }}, {%- assign replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18 = section.settings['replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18'] | image_url -%}
    {%- capture default_replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Replo_-_CTA_GIF.gif?v=1739503376{%- endcapture -%}
    {%- assign replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18 = replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18 | default: default_replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18 -%}
    "replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18": {{ replo_style_image_79d59ca9-dbe1-4d21-afc4-444d635edd18 | json }}, {%- assign replo_text_2e4ed669-f332-46c9-96af-d20675243953 = section.settings['replo_text_2e4ed669-f332-46c9-96af-d20675243953'] -%}
    {%- capture default_replo_text_2e4ed669-f332-46c9-96af-d20675243953 -%}<p>SOLIDS</p>{%- endcapture -%}
    {%- assign replo_text_2e4ed669-f332-46c9-96af-d20675243953 = replo_text_2e4ed669-f332-46c9-96af-d20675243953 | default: default_replo_text_2e4ed669-f332-46c9-96af-d20675243953 -%}
    "replo_text_2e4ed669-f332-46c9-96af-d20675243953": {{ replo_text_2e4ed669-f332-46c9-96af-d20675243953 | json }}, {%- assign replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2 = section.settings['replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2'] -%}
    {%- capture default_replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2 -%}<p>Classic colors, uncomplicated comfort.</p>{%- endcapture -%}
    {%- assign replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2 = replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2 | default: default_replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2 -%}
    "replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2": {{ replo_text_19f2ba72-a3d6-4cd8-a549-3d93da3c69a2 | json }}, {%- assign replo_url_c21085be-dc2b-4446-879f-e6a444ed239f = section.settings['replo_url_c21085be-dc2b-4446-879f-e6a444ed239f'] -%}
    {%- capture default_replo_url_c21085be-dc2b-4446-879f-e6a444ed239f -%}https://www.drwoofapparel.com.au/collections/compression-socks/solid-patterns{%- endcapture -%}
    {%- assign replo_url_c21085be-dc2b-4446-879f-e6a444ed239f = replo_url_c21085be-dc2b-4446-879f-e6a444ed239f | default: default_replo_url_c21085be-dc2b-4446-879f-e6a444ed239f -%}
    "replo_url_c21085be-dc2b-4446-879f-e6a444ed239f": {{ replo_url_c21085be-dc2b-4446-879f-e6a444ed239f | json }}, {%- assign replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2 = section.settings['replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2'] -%}
    {%- capture default_replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2 -%}<p>Shop Now</p>{%- endcapture -%}
    {%- assign replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2 = replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2 | default: default_replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2 -%}
    "replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2": {{ replo_text_695d29ba-e453-4dc3-b86d-de4fd4a5aeb2 | json }}, {%- assign replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 = section.settings['replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1'] -%}
    {%- capture default_replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 -%}https://www.drwoofapparel.com.au/collections/women{%- endcapture -%}
    {%- assign replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 = replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 | default: default_replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 -%}
    "replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1": {{ replo_url_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 | json }}, {%- assign replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 = section.settings['replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1'] | image_url -%}
    {%- capture default_replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Replo_-_CTA_GIF_1.gif?v=1739503376{%- endcapture -%}
    {%- assign replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 = replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 | default: default_replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 -%}
    "replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1": {{ replo_style_image_73746ecc-1ed5-491d-bde8-35c5cf7ddce1 | json }}, {%- assign replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292 = section.settings['replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292'] -%}
    {%- capture default_replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292 -%}<p>PATTERNED</p>{%- endcapture -%}
    {%- assign replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292 = replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292 | default: default_replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292 -%}
    "replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292": {{ replo_text_b777c8b2-e454-4ac7-99b7-22cd6575a292 | json }}, {%- assign replo_text_da76183c-7f6e-4821-bbcf-0864ff858981 = section.settings['replo_text_da76183c-7f6e-4821-bbcf-0864ff858981'] -%}
    {%- capture default_replo_text_da76183c-7f6e-4821-bbcf-0864ff858981 -%}<p>Designs that pop, comfort that lasts.</p>{%- endcapture -%}
    {%- assign replo_text_da76183c-7f6e-4821-bbcf-0864ff858981 = replo_text_da76183c-7f6e-4821-bbcf-0864ff858981 | default: default_replo_text_da76183c-7f6e-4821-bbcf-0864ff858981 -%}
    "replo_text_da76183c-7f6e-4821-bbcf-0864ff858981": {{ replo_text_da76183c-7f6e-4821-bbcf-0864ff858981 | json }}, {%- assign replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b = section.settings['replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b'] -%}
    {%- capture default_replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b -%}https://www.drwoofapparel.com.au/collections/compression-socks{%- endcapture -%}
    {%- assign replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b = replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b | default: default_replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b -%}
    "replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b": {{ replo_url_9fffa455-6dda-49f8-bae7-577fea599c3b | json }}, {%- assign replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb = section.settings['replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb'] -%}
    {%- capture default_replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb -%}<p>Shop Now</p>{%- endcapture -%}
    {%- assign replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb = replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb | default: default_replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb -%}
    "replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb": {{ replo_text_64d737e5-fcaf-4a64-b989-c4f947cd3ebb | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}