{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_d2339081-2aac-40df-931c-5c07ef32b084 = section.settings['replo_text_d2339081-2aac-40df-931c-5c07ef32b084'] -%}
    {%- capture default_replo_text_d2339081-2aac-40df-931c-5c07ef32b084 -%}<p></p>{%- endcapture -%}
    {%- assign replo_text_d2339081-2aac-40df-931c-5c07ef32b084 = replo_text_d2339081-2aac-40df-931c-5c07ef32b084 | default: default_replo_text_d2339081-2aac-40df-931c-5c07ef32b084 -%}
    "replo_text_d2339081-2aac-40df-931c-5c07ef32b084": {{ replo_text_d2339081-2aac-40df-931c-5c07ef32b084 | json }}, {%- assign replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08 = section.settings['replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08'] -%}
    {%- capture default_replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08 -%}<p>Say Goodbye to Fatigue in 30 Days—Or It’s Free!

</p>{%- endcapture -%}
    {%- assign replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08 = replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08 | default: default_replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08 -%}
    "replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08": {{ replo_text_35ec7589-2470-4d8f-bcfd-c874e67bfb08 | json }}, {%- assign replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381 = section.settings['replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381'] -%}
    {%- capture default_replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381 -%}<p>We’re so confident you’ll love them, we’re offering a 30-Day Money-Back Guarantee. Not satisfied? We’ll give you a full refund—no questions asked.</p>{%- endcapture -%}
    {%- assign replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381 = replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381 | default: default_replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381 -%}
    "replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381": {{ replo_text_a22d138f-60a4-4bfd-96ed-20ea923e6381 | json }}, {%- assign replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1 = section.settings['replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1'] -%}
    {%- capture default_replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1 -%}https://www.drwoofapparel.com.au/collections/compression-socks{%- endcapture -%}
    {%- assign replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1 = replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1 | default: default_replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1 -%}
    "replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1": {{ replo_url_a6be2aa5-eb93-44f3-a993-ae2aa2816ea1 | json }}, {%- assign replo_text_3c32c631-d5f6-4308-923c-195d96de1982 = section.settings['replo_text_3c32c631-d5f6-4308-923c-195d96de1982'] -%}
    {%- capture default_replo_text_3c32c631-d5f6-4308-923c-195d96de1982 -%}<p>SHOP NOW</p>{%- endcapture -%}
    {%- assign replo_text_3c32c631-d5f6-4308-923c-195d96de1982 = replo_text_3c32c631-d5f6-4308-923c-195d96de1982 | default: default_replo_text_3c32c631-d5f6-4308-923c-195d96de1982 -%}
    "replo_text_3c32c631-d5f6-4308-923c-195d96de1982": {{ replo_text_3c32c631-d5f6-4308-923c-195d96de1982 | json }}, {%- assign replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347 = section.settings['replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347'] | image_url -%}
    {%- capture default_replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/WHY_YOU_LL_LOVE_OUR_SCRUBS_1.png?v=1736495195{%- endcapture -%}
    {%- assign replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347 = replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347 | default: default_replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347 -%}
    "replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347": {{ replo_style_image_e27af923-d3a0-4fc3-940b-8e3217b8c347 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}