{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_c76ec930-dacf-4ebc-8187-f217c670730e = section.settings['replo_text_c76ec930-dacf-4ebc-8187-f217c670730e'] -%}
    {%- capture default_replo_text_c76ec930-dacf-4ebc-8187-f217c670730e -%}<p><strong>Because Frontline Deserves Better</strong></p>{%- endcapture -%}
    {%- assign replo_text_c76ec930-dacf-4ebc-8187-f217c670730e = replo_text_c76ec930-dacf-4ebc-8187-f217c670730e | default: default_replo_text_c76ec930-dacf-4ebc-8187-f217c670730e -%}
    "replo_text_c76ec930-dacf-4ebc-8187-f217c670730e": {{ replo_text_c76ec930-dacf-4ebc-8187-f217c670730e | json }}, {%- assign replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a = section.settings['replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a'] -%}
    {%- capture default_replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a -%}<p>Designed by a family of doctors who know what it takes to survive demanding shifts.</p>{%- endcapture -%}
    {%- assign replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a = replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a | default: default_replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a -%}
    "replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a": {{ replo_text_a2bc9b43-4344-4e51-b5a3-577493f76d9a | json }}, {%- assign replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6 = section.settings['replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6'] -%}
    {%- capture default_replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6 -%}https://www.drwoofapparel.com.au/collections/women{%- endcapture -%}
    {%- assign replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6 = replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6 | default: default_replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6 -%}
    "replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6": {{ replo_url_f7beeb29-d54e-4bb2-ae7a-5d10ad037ee6 | json }}, {%- assign replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063 = section.settings['replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063'] -%}
    {%- capture default_replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063 -%}<p>SHOP SCRUBS</p>{%- endcapture -%}
    {%- assign replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063 = replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063 | default: default_replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063 -%}
    "replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063": {{ replo_text_d572b02e-ccb0-4011-858b-9c5b2df8e063 | json }}, {%- assign replo_url_a1956502-dca1-43d1-bce3-117da0853e72 = section.settings['replo_url_a1956502-dca1-43d1-bce3-117da0853e72'] -%}
    {%- capture default_replo_url_a1956502-dca1-43d1-bce3-117da0853e72 -%}https://www.drwoofapparel.com.au/collections/compression-socks{%- endcapture -%}
    {%- assign replo_url_a1956502-dca1-43d1-bce3-117da0853e72 = replo_url_a1956502-dca1-43d1-bce3-117da0853e72 | default: default_replo_url_a1956502-dca1-43d1-bce3-117da0853e72 -%}
    "replo_url_a1956502-dca1-43d1-bce3-117da0853e72": {{ replo_url_a1956502-dca1-43d1-bce3-117da0853e72 | json }}, {%- assign replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203 = section.settings['replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203'] -%}
    {%- capture default_replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203 -%}<p>SHOP COMPRESSION SOCKS</p>{%- endcapture -%}
    {%- assign replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203 = replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203 | default: default_replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203 -%}
    "replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203": {{ replo_text_d1cdb154-7d8b-44a6-8ca6-f20a940c5203 | json }}, {%- assign replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d = section.settings['replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d'] -%}
    {%- capture default_replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d -%}<p>60-day money back guarantee</p>{%- endcapture -%}
    {%- assign replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d = replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d | default: default_replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d -%}
    "replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d": {{ replo_text_9482aefc-d769-4fc6-ad8f-1e3f3bbbf03d | json }}, {%- assign replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3 = section.settings['replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3'] | image_url -%}
    {%- capture default_replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/LANDING_PAGE_PDP_da4f17f2-f9fe-42e7-886e-7bf7006efb41.gif?v=1739238346{%- endcapture -%}
    {%- assign replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3 = replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3 | default: default_replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3 -%}
    "replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3": {{ replo_style_image_d98e6469-9bb7-4d8e-b524-75639467cef3 | json }}, {%- assign replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3 = section.settings['replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3'] | image_url -%}
    {%- capture default_replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/LANDING_PAGE_PDP_da4f17f2-f9fe-42e7-886e-7bf7006efb41.gif?v=1739238346{%- endcapture -%}
    {%- assign replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3 = replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3 | default: default_replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3 -%}
    "replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3": {{ replo_stylesm_image_d98e6469-9bb7-4d8e-b524-75639467cef3 | json }}, {%- assign replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2 = section.settings['replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2'] | image_url -%}
    {%- capture default_replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2 -%}https://andytown-public.s3.amazonaws.com/templates/component-templates/replo-ui/slides_image.png%3Fv%3D1679371721{%- endcapture -%}
    {%- assign replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2 = replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2 | default: default_replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2 -%}
    "replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2": {{ replo_style_image_6252aa74-ce75-4893-b9de-583696755bd2 | json }}, {%- assign replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2 = section.settings['replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2'] | image_url -%}
    {%- capture default_replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2 -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/slides_mobile.png%3Fv%3D1679372835{%- endcapture -%}
    {%- assign replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2 = replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2 | default: default_replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2 -%}
    "replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2": {{ replo_stylesm_image_6252aa74-ce75-4893-b9de-583696755bd2 | json }}, {%- assign replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10 = section.settings['replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10'] | image_url -%}
    {%- capture default_replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10 -%}https://andytown-public.s3.amazonaws.com/templates/component-templates/replo-ui/slides_image.png%3Fv%3D1679371721{%- endcapture -%}
    {%- assign replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10 = replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10 | default: default_replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10 -%}
    "replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10": {{ replo_style_image_150192ee-2741-45bf-b533-d0eec40f8a10 | json }}, {%- assign replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10 = section.settings['replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10'] | image_url -%}
    {%- capture default_replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10 -%}https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/slides_mobile.png%3Fv%3D1679372835{%- endcapture -%}
    {%- assign replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10 = replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10 | default: default_replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10 -%}
    "replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10": {{ replo_stylesm_image_150192ee-2741-45bf-b533-d0eec40f8a10 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}