{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_e507d48a-6583-409d-886a-413d279ef702 = section.settings['replo_text_e507d48a-6583-409d-886a-413d279ef702'] -%}
    {%- capture default_replo_text_e507d48a-6583-409d-886a-413d279ef702 -%}<p>Our Best Bundle Deals</p>{%- endcapture -%}
    {%- assign replo_text_e507d48a-6583-409d-886a-413d279ef702 = replo_text_e507d48a-6583-409d-886a-413d279ef702 | default: default_replo_text_e507d48a-6583-409d-886a-413d279ef702 -%}
    "replo_text_e507d48a-6583-409d-886a-413d279ef702": {{ replo_text_e507d48a-6583-409d-886a-413d279ef702 | json }}, {%- assign replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 = section.settings['replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6'] -%}
    {%- capture default_replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 -%}https://www.drwoofapparel.com.au/collections/women{%- endcapture -%}
    {%- assign replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 = replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 | default: default_replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 -%}
    "replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6": {{ replo_url_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 | json }}, {%- assign replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 = section.settings['replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6'] | image_url -%}
    {%- capture default_replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/1_f700a044-e349-4d47-b303-a19ac1229246.jpg?v=1737344195{%- endcapture -%}
    {%- assign replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 = replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 | default: default_replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 -%}
    "replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6": {{ replo_style_image_dbaaa09b-e2d0-479b-a1be-c17d1b765df6 | json }}, {%- assign replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec = section.settings['replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec'] -%}
    {%- capture default_replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec -%}<p>More scrubs, more savings—gear up for your shifts.</p>{%- endcapture -%}
    {%- assign replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec = replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec | default: default_replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec -%}
    "replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec": {{ replo_text_941e8291-5a59-4f5e-9283-6a10143e73ec | json }}, {%- assign replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63 = section.settings['replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63'] -%}
    {%- capture default_replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63 -%}https://www.drwoofapparel.com.au/collections/women{%- endcapture -%}
    {%- assign replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63 = replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63 | default: default_replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63 -%}
    "replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63": {{ replo_url_fc95de89-f021-43a8-a5e9-5b2064a5fa63 | json }}, {%- assign replo_text_a9f5303b-0168-48c6-b003-065df1768ff3 = section.settings['replo_text_a9f5303b-0168-48c6-b003-065df1768ff3'] -%}
    {%- capture default_replo_text_a9f5303b-0168-48c6-b003-065df1768ff3 -%}<p>SHOP NOW</p>{%- endcapture -%}
    {%- assign replo_text_a9f5303b-0168-48c6-b003-065df1768ff3 = replo_text_a9f5303b-0168-48c6-b003-065df1768ff3 | default: default_replo_text_a9f5303b-0168-48c6-b003-065df1768ff3 -%}
    "replo_text_a9f5303b-0168-48c6-b003-065df1768ff3": {{ replo_text_a9f5303b-0168-48c6-b003-065df1768ff3 | json }}, {%- assign replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7 = section.settings['replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7'] -%}
    {%- capture default_replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7 -%}https://www.drwoofapparel.com.au/collections/compression-socks{%- endcapture -%}
    {%- assign replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7 = replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7 | default: default_replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7 -%}
    "replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7": {{ replo_url_02642500-ee98-45a5-aab1-abd81c9bb1b7 | json }}, {%- assign replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7 = section.settings['replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7'] | image_url -%}
    {%- capture default_replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/2_dfa99cd3-7ba0-404f-9b18-56b0914da94d.jpg?v=1737344195{%- endcapture -%}
    {%- assign replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7 = replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7 | default: default_replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7 -%}
    "replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7": {{ replo_style_image_02642500-ee98-45a5-aab1-abd81c9bb1b7 | json }}, {%- assign replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd = section.settings['replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd'] -%}
    {%- capture default_replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd -%}<p>Buy 6 Pairs Get 35% Off</p>{%- endcapture -%}
    {%- assign replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd = replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd | default: default_replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd -%}
    "replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd": {{ replo_text_d40db2cb-cb99-48fc-9bdb-293ca860c7dd | json }}, {%- assign replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850 = section.settings['replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850'] -%}
    {%- capture default_replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850 -%}<p>Compression socks that keep you moving—for less.</p>{%- endcapture -%}
    {%- assign replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850 = replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850 | default: default_replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850 -%}
    "replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850": {{ replo_text_2ae37618-b7f0-45e8-94c9-8e01ff8d7850 | json }}, {%- assign replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea = section.settings['replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea'] -%}
    {%- capture default_replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea -%}https://www.drwoofapparel.com.au/collections/compression-socks{%- endcapture -%}
    {%- assign replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea = replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea | default: default_replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea -%}
    "replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea": {{ replo_url_e19ba9c0-5732-4199-b6d7-eacff508daea | json }}, {%- assign replo_text_f473af00-f9db-4c4e-b676-fa6711524553 = section.settings['replo_text_f473af00-f9db-4c4e-b676-fa6711524553'] -%}
    {%- capture default_replo_text_f473af00-f9db-4c4e-b676-fa6711524553 -%}<p>SHOP NOW</p>{%- endcapture -%}
    {%- assign replo_text_f473af00-f9db-4c4e-b676-fa6711524553 = replo_text_f473af00-f9db-4c4e-b676-fa6711524553 | default: default_replo_text_f473af00-f9db-4c4e-b676-fa6711524553 -%}
    "replo_text_f473af00-f9db-4c4e-b676-fa6711524553": {{ replo_text_f473af00-f9db-4c4e-b676-fa6711524553 | json }}, {%- assign replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 = section.settings['replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0'] -%}
    {%- capture default_replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 -%}https://www.drwoofapparel.com.au/collections/printed-pattern-scrub-tops{%- endcapture -%}
    {%- assign replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 = replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 | default: default_replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 -%}
    "replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0": {{ replo_url_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 | json }}, {%- assign replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 = section.settings['replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0'] | image_url -%}
    {%- capture default_replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/3_f8372c8b-4614-488b-8470-81a113476470.jpg?v=1737344195{%- endcapture -%}
    {%- assign replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 = replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 | default: default_replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 -%}
    "replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0": {{ replo_style_image_ad3e53e4-651f-4d07-be0d-880f27bd0fe0 | json }}, {%- assign replo_text_c571745a-09a8-465e-876e-56d4c2c61820 = section.settings['replo_text_c571745a-09a8-465e-876e-56d4c2c61820'] -%}
    {%- capture default_replo_text_c571745a-09a8-465e-876e-56d4c2c61820 -%}<p>Buy 3 Tops Get 1 Free</p>{%- endcapture -%}
    {%- assign replo_text_c571745a-09a8-465e-876e-56d4c2c61820 = replo_text_c571745a-09a8-465e-876e-56d4c2c61820 | default: default_replo_text_c571745a-09a8-465e-876e-56d4c2c61820 -%}
    "replo_text_c571745a-09a8-465e-876e-56d4c2c61820": {{ replo_text_c571745a-09a8-465e-876e-56d4c2c61820 | json }}, {%- assign replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84 = section.settings['replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84'] -%}
    {%- capture default_replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84 -%}https://www.drwoofapparel.com.au/collections/printed-pattern-scrub-tops{%- endcapture -%}
    {%- assign replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84 = replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84 | default: default_replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84 -%}
    "replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84": {{ replo_url_240dfbd2-98e8-4999-86e2-8bf13b3dcd84 | json }}, {%- assign replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7 = section.settings['replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7'] -%}
    {%- capture default_replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7 -%}<p>SHOP NOW</p>{%- endcapture -%}
    {%- assign replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7 = replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7 | default: default_replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7 -%}
    "replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7": {{ replo_text_27c7048c-1f19-4bc0-8947-76d71a422ef7 | json }}, {%- assign replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a = section.settings['replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a'] -%}
    {%- capture default_replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a -%}https://www.drwoofapparel.com.au/collections/scrub-caps{%- endcapture -%}
    {%- assign replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a = replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a | default: default_replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a -%}
    "replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a": {{ replo_url_738be5d5-cdb4-443f-9b5d-d3487454725a | json }}, {%- assign replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a = section.settings['replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a'] | image_url -%}
    {%- capture default_replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a -%}https://cdn.shopify.com/s/files/1/0573/7250/8344/files/4_76fdc05e-74fa-4e30-819d-7b0c52428954.jpg?v=1737344195{%- endcapture -%}
    {%- assign replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a = replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a | default: default_replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a -%}
    "replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a": {{ replo_style_image_738be5d5-cdb4-443f-9b5d-d3487454725a | json }}, {%- assign replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff = section.settings['replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff'] -%}
    {%- capture default_replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff -%}<p>Buy 6 Pairs Get 35% Off</p>{%- endcapture -%}
    {%- assign replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff = replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff | default: default_replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff -%}
    "replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff": {{ replo_text_acb402d3-02fa-4e78-ad9a-2ca4d60d3eff | json }}, {%- assign replo_url_d00a7878-9592-48f8-8fa4-398af3a37700 = section.settings['replo_url_d00a7878-9592-48f8-8fa4-398af3a37700'] -%}
    {%- capture default_replo_url_d00a7878-9592-48f8-8fa4-398af3a37700 -%}https://www.drwoofapparel.com.au/collections/scrub-caps{%- endcapture -%}
    {%- assign replo_url_d00a7878-9592-48f8-8fa4-398af3a37700 = replo_url_d00a7878-9592-48f8-8fa4-398af3a37700 | default: default_replo_url_d00a7878-9592-48f8-8fa4-398af3a37700 -%}
    "replo_url_d00a7878-9592-48f8-8fa4-398af3a37700": {{ replo_url_d00a7878-9592-48f8-8fa4-398af3a37700 | json }}, {%- assign replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a = section.settings['replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a'] -%}
    {%- capture default_replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a -%}<p>SHOP NOW</p>{%- endcapture -%}
    {%- assign replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a = replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a | default: default_replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a -%}
    "replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a": {{ replo_text_2fe10d0c-7595-43ce-8ad4-5e338b13b38a | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}