{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f = section.settings['replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f'] -%}
    {%- capture default_replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f -%}<p>See what people are saying</p>{%- endcapture -%}
    {%- assign replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f = replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f | default: default_replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f -%}
    "replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f": {{ replo_text_6d521a2c-4488-4f36-ae67-78e01edd590f | json }}, {%- assign replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27 = section.settings['replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27'] -%}
    {%- capture default_replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27 -%}<p>Over 300+ 5-Star Reviews</p>{%- endcapture -%}
    {%- assign replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27 = replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27 | default: default_replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27 -%}
    "replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27": {{ replo_text_b8da3b70-4981-4f81-8b28-4b1007470e27 | json }}, {%- assign replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c = section.settings['replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c'] | image_url -%}
    {%- capture default_replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c = replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c | default: default_replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c -%}
    "replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c": {{ replo_style_image_cfbeca16-ff08-4291-9318-bf3bfe60b64c | json }}, {%- assign replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2 = section.settings['replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2'] -%}
    {%- capture default_replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2 -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2 = replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2 | default: default_replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2 -%}
    "replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2": {{ replo_text_b1a5cd47-e216-436f-9551-0e1ba5fe8ab2 | json }}, {%- assign replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99 = section.settings['replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99'] -%}
    {%- capture default_replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99 -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99 = replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99 | default: default_replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99 -%}
    "replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99": {{ replo_url_c811924b-2816-4ff0-a539-c6b9d12ede99 | json }}, {%- assign replo_text_0aae0b3c-386f-4862-9d0d-638162baa273 = section.settings['replo_text_0aae0b3c-386f-4862-9d0d-638162baa273'] -%}
    {%- capture default_replo_text_0aae0b3c-386f-4862-9d0d-638162baa273 -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_0aae0b3c-386f-4862-9d0d-638162baa273 = replo_text_0aae0b3c-386f-4862-9d0d-638162baa273 | default: default_replo_text_0aae0b3c-386f-4862-9d0d-638162baa273 -%}
    "replo_text_0aae0b3c-386f-4862-9d0d-638162baa273": {{ replo_text_0aae0b3c-386f-4862-9d0d-638162baa273 | json }}, {%- assign replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071 = section.settings['replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071'] | image_url -%}
    {%- capture default_replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071 = replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071 | default: default_replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071 -%}
    "replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071": {{ replo_style_image_c6d804e1-1e25-479f-aead-ed9f957ee071 | json }}, {%- assign replo_text_b500a6db-e518-473b-a36b-6c3b85762477 = section.settings['replo_text_b500a6db-e518-473b-a36b-6c3b85762477'] -%}
    {%- capture default_replo_text_b500a6db-e518-473b-a36b-6c3b85762477 -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_b500a6db-e518-473b-a36b-6c3b85762477 = replo_text_b500a6db-e518-473b-a36b-6c3b85762477 | default: default_replo_text_b500a6db-e518-473b-a36b-6c3b85762477 -%}
    "replo_text_b500a6db-e518-473b-a36b-6c3b85762477": {{ replo_text_b500a6db-e518-473b-a36b-6c3b85762477 | json }}, {%- assign replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9 = section.settings['replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9'] -%}
    {%- capture default_replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9 -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9 = replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9 | default: default_replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9 -%}
    "replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9": {{ replo_url_dd12c83d-ce47-4ed0-a009-d906acf897f9 | json }}, {%- assign replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb = section.settings['replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb'] -%}
    {%- capture default_replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb = replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb | default: default_replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb -%}
    "replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb": {{ replo_text_427b0ca1-bd42-4d7f-abfb-b75181f141bb | json }}, {%- assign replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac = section.settings['replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac'] | image_url -%}
    {%- capture default_replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac = replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac | default: default_replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac -%}
    "replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac": {{ replo_style_image_15bf3f26-ff85-4225-99e7-7b6dd4bf7eac | json }}, {%- assign replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170 = section.settings['replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170'] -%}
    {%- capture default_replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170 -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170 = replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170 | default: default_replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170 -%}
    "replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170": {{ replo_text_2bc95550-6d5f-4132-9a85-23ef6b62e170 | json }}, {%- assign replo_url_2a488af9-8f43-496e-8695-50d6153f126c = section.settings['replo_url_2a488af9-8f43-496e-8695-50d6153f126c'] -%}
    {%- capture default_replo_url_2a488af9-8f43-496e-8695-50d6153f126c -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_2a488af9-8f43-496e-8695-50d6153f126c = replo_url_2a488af9-8f43-496e-8695-50d6153f126c | default: default_replo_url_2a488af9-8f43-496e-8695-50d6153f126c -%}
    "replo_url_2a488af9-8f43-496e-8695-50d6153f126c": {{ replo_url_2a488af9-8f43-496e-8695-50d6153f126c | json }}, {%- assign replo_text_b2fad541-1381-4e4b-842e-494852f6b838 = section.settings['replo_text_b2fad541-1381-4e4b-842e-494852f6b838'] -%}
    {%- capture default_replo_text_b2fad541-1381-4e4b-842e-494852f6b838 -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_b2fad541-1381-4e4b-842e-494852f6b838 = replo_text_b2fad541-1381-4e4b-842e-494852f6b838 | default: default_replo_text_b2fad541-1381-4e4b-842e-494852f6b838 -%}
    "replo_text_b2fad541-1381-4e4b-842e-494852f6b838": {{ replo_text_b2fad541-1381-4e4b-842e-494852f6b838 | json }}, {%- assign replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd = section.settings['replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd'] | image_url -%}
    {%- capture default_replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd = replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd | default: default_replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd -%}
    "replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd": {{ replo_style_image_c4cdff9d-89b6-4b34-9d4d-15140c42e1bd | json }}, {%- assign replo_text_2ace88e9-e434-4cac-bd62-9f0880567251 = section.settings['replo_text_2ace88e9-e434-4cac-bd62-9f0880567251'] -%}
    {%- capture default_replo_text_2ace88e9-e434-4cac-bd62-9f0880567251 -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_2ace88e9-e434-4cac-bd62-9f0880567251 = replo_text_2ace88e9-e434-4cac-bd62-9f0880567251 | default: default_replo_text_2ace88e9-e434-4cac-bd62-9f0880567251 -%}
    "replo_text_2ace88e9-e434-4cac-bd62-9f0880567251": {{ replo_text_2ace88e9-e434-4cac-bd62-9f0880567251 | json }}, {%- assign replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d = section.settings['replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d'] -%}
    {%- capture default_replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d = replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d | default: default_replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d -%}
    "replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d": {{ replo_url_5dad56c5-fb63-43e3-8835-024b8cd40c5d | json }}, {%- assign replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9 = section.settings['replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9'] -%}
    {%- capture default_replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9 -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9 = replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9 | default: default_replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9 -%}
    "replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9": {{ replo_text_c287c3f9-75c5-4dba-8efa-1f8ee9a0c1f9 | json }}, {%- assign replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736 = section.settings['replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736'] | image_url -%}
    {%- capture default_replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736 = replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736 | default: default_replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736 -%}
    "replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736": {{ replo_style_image_89f18080-7b7f-46ba-9708-560f3bcd2736 | json }}, {%- assign replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314 = section.settings['replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314'] -%}
    {%- capture default_replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314 -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314 = replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314 | default: default_replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314 -%}
    "replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314": {{ replo_text_4ac5eda1-5758-42ae-b7fb-c3766bd56314 | json }}, {%- assign replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647 = section.settings['replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647'] -%}
    {%- capture default_replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647 -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647 = replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647 | default: default_replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647 -%}
    "replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647": {{ replo_url_e8cb4040-54d5-4900-a742-bf0d322ff647 | json }}, {%- assign replo_text_f408515e-486e-40b1-934d-9521790969b6 = section.settings['replo_text_f408515e-486e-40b1-934d-9521790969b6'] -%}
    {%- capture default_replo_text_f408515e-486e-40b1-934d-9521790969b6 -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_f408515e-486e-40b1-934d-9521790969b6 = replo_text_f408515e-486e-40b1-934d-9521790969b6 | default: default_replo_text_f408515e-486e-40b1-934d-9521790969b6 -%}
    "replo_text_f408515e-486e-40b1-934d-9521790969b6": {{ replo_text_f408515e-486e-40b1-934d-9521790969b6 | json }}, {%- assign replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d = section.settings['replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d'] | image_url -%}
    {%- capture default_replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d = replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d | default: default_replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d -%}
    "replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d": {{ replo_style_image_b9043078-8581-405a-a2fb-7423fb3c6d1d | json }}, {%- assign replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a = section.settings['replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a'] -%}
    {%- capture default_replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a = replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a | default: default_replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a -%}
    "replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a": {{ replo_text_54c5b16d-6ea3-4034-bd4b-5f0d3902a50a | json }}, {%- assign replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997 = section.settings['replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997'] -%}
    {%- capture default_replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997 -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997 = replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997 | default: default_replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997 -%}
    "replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997": {{ replo_url_e68b38bf-ba5a-4fad-a713-494a810c1997 | json }}, {%- assign replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562 = section.settings['replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562'] -%}
    {%- capture default_replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562 -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562 = replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562 | default: default_replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562 -%}
    "replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562": {{ replo_text_23e9bbef-632b-4bb8-981c-7ff5047c4562 | json }}, {%- assign replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537 = section.settings['replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537'] | image_url -%}
    {%- capture default_replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537 = replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537 | default: default_replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537 -%}
    "replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537": {{ replo_style_image_db7ad522-1ce8-41c3-ae08-573bc69d7537 | json }}, {%- assign replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f = section.settings['replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f'] -%}
    {%- capture default_replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f = replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f | default: default_replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f -%}
    "replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f": {{ replo_text_22a5eeab-106d-4473-bc9a-c9477ce9bb5f | json }}, {%- assign replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4 = section.settings['replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4'] -%}
    {%- capture default_replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4 -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4 = replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4 | default: default_replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4 -%}
    "replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4": {{ replo_url_2b9a41ce-d81b-4bd1-9ebf-6d554a9e9ae4 | json }}, {%- assign replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e = section.settings['replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e'] -%}
    {%- capture default_replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e = replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e | default: default_replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e -%}
    "replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e": {{ replo_text_0748c96a-4bd4-41a1-b3e6-7e85d5aaf71e | json }}, {%- assign replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307 = section.settings['replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307'] | image_url -%}
    {%- capture default_replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Peachies_9.webp?v=1720903370{%- endcapture -%}
    {%- assign replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307 = replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307 | default: default_replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307 -%}
    "replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307": {{ replo_style_image_ecddb8ec-99f4-4e54-acc4-f8032dc8d307 | json }}, {%- assign replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7 = section.settings['replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7'] -%}
    {%- capture default_replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7 -%}<p>The most comfortable pair of compression socks I've ever owned! Also a massive bonus that they're so cute.</p>{%- endcapture -%}
    {%- assign replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7 = replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7 | default: default_replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7 -%}
    "replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7": {{ replo_text_7061e8d6-bd09-422e-b1fd-72bde7187bf7 | json }}, {%- assign replo_url_22d32c14-552a-49fa-96a5-886f719a67ec = section.settings['replo_url_22d32c14-552a-49fa-96a5-886f719a67ec'] -%}
    {%- capture default_replo_url_22d32c14-552a-49fa-96a5-886f719a67ec -%}https://wearepeachies.com/{%- endcapture -%}
    {%- assign replo_url_22d32c14-552a-49fa-96a5-886f719a67ec = replo_url_22d32c14-552a-49fa-96a5-886f719a67ec | default: default_replo_url_22d32c14-552a-49fa-96a5-886f719a67ec -%}
    "replo_url_22d32c14-552a-49fa-96a5-886f719a67ec": {{ replo_url_22d32c14-552a-49fa-96a5-886f719a67ec | json }}, {%- assign replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74 = section.settings['replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74'] -%}
    {%- capture default_replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74 -%}<p>-Star M.</p>{%- endcapture -%}
    {%- assign replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74 = replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74 | default: default_replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74 -%}
    "replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74": {{ replo_text_53e0f5a7-5b58-47fa-aab7-e6a2b67bfe74 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}