{% assign spendmsg = '' %}
{%- for block in section.blocks -%}
{% assign cartamount =  cart.original_total_price | divided_by: 100 %}
{% assign ruleamount = block.settings.spendamount | times: 1 %}
{% if cartamount < ruleamount%}
{% assign spendmsg = ruleamount | minus : cartamount %}
{% assign spendrulmsg = block.settings.spendamountmsg %} 
{% assign previndex = forloop.index | minus:1  %} 
{% break %}
{% endif %}
{%- endfor -%}

{%- for block in section.blocks -%}
{% if forloop.first == true %}
{% assign firstindex = block.settings.spendamount | times: 100 %}
{% endif %}
{% if forloop.last == true %}
{% assign lastindex = block.settings.spendamount | times: 1.0 %}
{% endif %}
{% endfor %}
<div class="drawer__header">
  {% if lastindex > cartamount %}  
    <div class="next-spend-msg">
      <span>Spend <strong>{{spendmsg | times : 100 | money_without_trailing_zeros}}</strong> more to get <strong>FREE</strong> {{spendrulmsg}}</span>
    </div> 
    {% endif %}
  </div>
<div class="outer-spent" >
  <div class="spend-progress-bar">


    {%- for block in section.blocks -%}
    {% if forloop.last == true %}
    {% assign lastindex = block.settings.spendamount | times: 1.0 %}
    {% assign lastindexof  = forloop.index   %}  
    {% endif %}
    {% endfor %}
    {% assign perc = cartamount | divided_by: lastindex | times: 100 %}
    {% assign cartamount =  cart.original_total_price | divided_by: 100 %}
    {% if cartamount > lastindex %}
    {% assign perc = '102.5' %}
    {% assign previndex = lastindexof  %} 
    {% endif %}


    <div class="spend-progress-main">
      <ul>
        {%- for block in section.blocks -%}
        <li><p>{{block.settings.spendamount | times: 100 | money_without_trailing_zeros}}</p><p>{{block.settings.spendamountmsg }}</p></li>  
        {%- endfor -%}  
      </ul>   
    </div> 
    <div class="unlockshtml">
      <div class="unlock-msg">
        {%- for block in section.blocks -%}
        {% if forloop.index == previndex %}
        <div  >Enjoy - <b> {{ block.settings.spendamountmsg }}</b> 
          <span class="svg-img">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 26.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 624 570" style="enable-background:new 0 0 624 570;" xml:space="preserve">
            <style type="text/css">
              .st0{fill-rule:evenodd;clip-rule:evenodd;}
            </style>
            <path class="st0" d="M200.2,565L4.8,307.2l195.4,143L619.2,5L200.2,565z"/>
          </svg>

          </span>
        </div>
        {% endif %} 
        {%- endfor -%}
      </div>  
    </div>

  </div>
</div>











<style type="text/css">
  .spend-progress-main ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    list-style: none;
    position: relative;
    margin: 0;
  }

  .spend-progress-main ul li:first-child{
          flex: 0 0 42% !important;
          left: 24px;
        }
        .spend-progress-main ul li:nth-child(2){
          flex: 0 0 58% !important;
          left: 19px;
        }

        .spend-progress-main ul li:nth-child(3){
          flex: 0 0 25% !important;
        }
        
  .spend-progress-main ul li {
    
    text-align: right;
    padding: 0px 10px;
    font-size: 13px;
    position: relative;
  }

  .spend-progress-main ul li p {
    margin: 15px 0px;
  }

  .spend-progress-main ul:before {
    border: 1px solid {{section.settings.bgcolor_bar}};
    position: absolute;
    top: -20px;
    bottom: 0;
    height: 9px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    border-radius: 10px;

  }

  .spend-progress-main ul li:before {
    background: {{section.settings.bgcolor_bar}};
    content: "";
    position: absolute;
    height: 9px;
    width: 1px;
    top: 35px;
    right: 23px;
  }
  .spend-progress-main ul::after {

    width: calc({{perc}}% - 10px);
    background: {{section.settings.bgcolor_bar}};
    position: absolute;
    top: -20px;
    bottom: 0;
    height: 7px;
    left: 0;
    margin: auto;
    content: "";
    border-radius: 10px;
  }
  .spend-progress-main ul li p:last-child
  {
    min-height: 35px;
    max-width: 55px;
    right: -15px;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
  }
  .outer-spent{
    padding : 0px 30px;
    margin-top: -15px;

  }
  .outer-spent .unlock-msg{
    display:none;
  }  
  .unlockmsg{
    position: absolute;
    margin: 0 auto;
    bottom: 33px;
    left: 22px;
  }

  .unlockmsg  .outer-spent .unlock-msg{
    display:block !important;
  }
  .unlockmsg  .next-spend-msg ,.unlockmsg  .spend-progress-main {
    display:none;
  }
  .unlock-msg div:last-child {
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .drawer__inner .outer-spent {
    padding: 0px;
    margin-top: 10px;
  }

 
  #tick-mark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0px 10px 0 0;
    top: -2px;
  }
  .slick-slide .vactive{
    border-radius:8px;
  }
  #tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 2px;
    background-color: #000;
    content: "";
    transform: translateX(9px) rotate(-45deg);
    transform-origin: left bottom;
  }

  #tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
  }  
  .unlock-msg {
     margin-top: -14px;
  }
  .cart_drawer_custom .drawer__header{
    height:auto !important;
    padding-top:0px;
    margin-bottom:20px;
    padding-left:20px !important;
    padding-right:20px !important;
    border-bottom:1px solid #ebebeb;
  }
  .cart__product-name{
    font-family: Oxygen;
    font-size:16px !important;
    font-weight:900;
  }
  .cart__item-price{
    font-size:14px;
    font-weight:900;
  }
  .spend-progress-main ul li{
    font-weight:800;
  }
  .next-spend-msg{
    
  }
  .header-main-cart{
    padding-top:16px;
    position:relative;
    padding-bottom:22px;
    border-radius:8px;
  }
  .drawer__inner .qty-remove{
    display:block !important;
  }
  .cart-meta{
    width:72% !important;
  }
  .quant{
    width:27% !important;
  }
  .drawer__inner .custom_plus_minus{
    border: 2px solid #010101 !important;
    border-radius:4px;
    margin-bottom:20px;
  }
  .drawer__inner .custom_plus_minus .qty-icons-main{
    width:30% !important;
  }
  .drawer__inner .custom_plus_minus input.Custom_cart__quantity{
    width:40% !important;
  }
  .drawer__inner .custom_plus_minus input.Custom_cart__quantity,
  .drawer__inner .custom_plus_minus .qty-icons-main{
    height:26px !important;
  }
  .cart_drawer_custom .drawer__footer{
    /* border-top: 1px solid #EBEBEB !important; */
    border-top: none !important;
  }
  .cart__details{
    margin-bottom:20px;
    align-items:flex-start;
  }
  .cart-all-products{
    background:#f7f7f7 !important;
    border-radius:8px;
    /* overflow: hidden; */
  }
  .qty-remove .cart__item-price p{
    font-size:14px !important;
    color:gray !important;
    display:flex;
    font-weight:400;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    align-items: flex-start;
    position: relative;
    top: -12px;
    
  }
  .desktop-view, .qty-remove .cart__item-price p svg{
    margin-right:5px;
  }
  .cart__row-product .cart__product-image-wrap{
    border-radius: 8px;
    overflow: hidden;
  }
  select{
    background-position: right 6px center !important;
      }
      .red-block{
        position:relative;
      }
      .red-block::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px; /* Half of the arrow height */
      border-width: 5px;
      border-style: solid;
      border-color: transparent #B53728 transparent transparent; /* Adjust the color as needed */
    }
    .cart-all-products .slick-track{
      padding-top:0px;
      padding-bottom:0px;
    }   
    
    .cart__details.flexer-start{
      display:flex;
      justify-content:space-between
    }
    .cart__details.flexer-start .red-block{
        margin-bottom:7px;
    }

    span.br-clean{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width:80%;
    }
  @media (max-width:480px){
    span.br-clean{
      width:100%;
    }
    .cart__details.flexer-start{
      display:flex;
      justify-content:space-between
    }
    .cart__details.flexer-start .red-block{
        display:block;
    }
    .ajaxcart__product{
      margin-bottom:20px;
    }
    .qty-remove .cart__item-price p{
      width:80px;
      top:-9px;
    }
    .cart__item .cart__item-subtitle{
      font-size:14px !important;
    }
    .drawer__inner .qty-remove{
      padding-left:0 !important;
    }
    .cart__details{
      margin-bottom:9px !important;
    }
    .drawer__close-button{
      top: -7px;
      position: absolute !important;
      right: 9px !important;
    }
    .cart_drawer_custom .cart__item .cart__row-product{
      margin-bottom:0 !important;
    }
    .cart_drawer_custom{
      padding:21px 15px !important;
    }
    .drawer__footer{
      margin-top:0 !important;
    }
    .outer-spent{
      padding:0px 15px;
    }
    .cart__row-product{
      align-items:flex-start !important;

    }
    .cart-meta{
      width:68% !important;
    }
    .cart__row-product .cart__product-image-wrap{
      min-width: 59px !important;
      width: 57px !important;
    }
  }


</style>



{% schema %}
{
"max_blocks":4,
"settings": [
{
"id": "bgcolor_bar",
"type": "color",
"label": "Bar and Text Color"
}
],
"blocks": [
{
"type": "cart-spend-section",
"name": "Cart Spend Section",
"settings": [
{
"id": "spendamount",
"type": "text",
"label": "Spend amount"
},
{
"id": "spendamountmsg",
"type": "text",
"label": "Spend Shipping Message"
}

]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
