<!-- sections/collection-slider.liquid -->
{%- assign collection = collections[section.settings.selected_collection] -%}
<div class="collection-slider slidertop{{ section.id }}" >
  <div class="pager-wrapper">
    {% if section.settings.show_title %}
      <div class="title-wrapper">
        <h4>{{ collection.title }}</h4>
      </div>
      {% endif %}
      {% unless section.settings.dark_theme %}
        <div class="arrow-wrapper">
          <img src="{{ 'leftlight.png' | asset_url }}" class="prev{{ section.id }}"/>
          <img src="{{ 'rightlight.png' | asset_url }}" class="next{{ section.id }}"/>
        </div>
      {% else %}
      <div class="arrow-wrapper">
        
        <img src="{{ 'rightwhite.png' | asset_url }}" class="next{{ section.id }}"/>
        <img src="{{ 'leftwhite.png' | asset_url }}" class="prev{{ section.id }}"/>
      </div>
      {% endunless %}
  </div>

    <div class="collection-slider-wrapper slider{{ section.id }}">
        {% for product in collection.products %}
            <div class="product_slide">
                <a href="{{ product.url }}" class="collection-slider-url">
                    <img src="{{ product.featured_image.src | img_url: 'medium' }}" class="collection-slider-thumbnail"/>
                    <div class="review"></div>
                    <p><b>{{ product.title }}</b></p>
                    <div class="product-price">
                        {% if product.compare_at_price > product.price %}
                            <p>
                            <span class="original-price">{{ product.compare_at_price | money }}</span>
                            <span class="sale-price">{{ product.price | money }}</span>
                            </p>
                        {% else %}
                            <p class="regular-price">{{ product.price | money }}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<style>
  body{
    width:100%;
    overflow-x:hidden;
  }
  .slider{{ section.id }} .slick-slider{
    padding-bottom:500px;
  }
  .slider{{ section.id }} .slick-list{
    width:124%;
    
  }
  .slider{{ section.id }} .slick-slide{
    padding-right:16px;
  }
  .pager-wrapper{
    max-width:1300px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    height:1px;
    position:relative;
    margin-bottom:86px;
  }
  .arrow-wrapper{
      position: absolute;
      top: 0px;
      right: 0%;
      z-index: 99;
  }
  .title-wrapper{
      position: absolute;
      top: 0px;
      left: 0%;
      z-index: 99;
  }
  .title-wrapper h4{
    font-size:40px;
    font-family: Futura;
    font-weight:400;
  }
  .arrow-wrapper .fa{
    padding: 0 7px;
    font-size: 23px;
  }
  
    .collection-slider{
        width:100%;
        display:block;
        position:relative;
    }

    .collection-slider-wrapper{
        max-width:1300px;
        overflow-x: visible;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    
    .collection-slider-wrapper{
      position: relative;
      
    }
    .collection-slider-wrapper .product_slide{
        /* flex:0 0 19%; */
    }
    .collection-slider-wrapper .product_slide img{
        width:100%;
        display:block;
        margin-bottom:8px;
    }
    .collection-slider-wrapper .product_slide p{
      margin-bottom:8px;
    }
    .collection-slider{
      position: relative;
      padding: 50px 0 80px;
    }
    {% if section.settings.dark_theme %}
    .slidertop{{ section.id }}{
      position: relative;
      padding: 50px 0;
      background: #0B0D32 !important;
    }
    .slidertop{{ section.id }} h4{
      color:#fff !important;
    }
    .slidertop{{ section.id }} p{
      color:#fff !important;
      margin-bottom: 8px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 7px;
      padding-top: 8px;
    }
    .slidertop{{ section.id }} .collection-slider-url{
      color: #fff !important;
      border: #fff;
      border-radius: 13px;
      overflow: hidden;
      display: block;
      border: 1px #fff solid;
    }
    {% endif %}


    @media only screen and (max-width:480px){
      .collection-slider{
        padding-left:12px;
        padding-right:12px;
      }
      .popups_country{
        display:none;
      }
    }
</style>
<script>

$(document).ready(function(){
      $('.slider{{ section.id }}').slick({
        slidesToShow: 4, 
        prevArrow: $('.prev{{ section.id }}'),
        nextArrow: $('.next{{ section.id }}'),
        autoplay: false
      });
    })

</script>
{% schema %}
  {
    "name": "New Collection Slider",
    "settings": [
      {
        "type": "header",
        "content": "Caps A/B testing"
      },
      {
        "type": "checkbox",
        "id": "collection_enable_ab",
        "label": "Enable new hp A/B testing",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show title",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "dark_theme",
        "label": "Dark Theme",
        "default": false
      },
      {
        "type": "collection",
        "id": "selected_collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "New Collection Slider",
        "category": "Section"
      }
    ]
  }
{% endschema %}
